@charset "UTF-8";
/*Tamaño de las media queries*/
@media screen and (min-width: 768px) {
  .body {
    background-color: rgb(156, 233, 233);
    font-family: "Roboto", sans-serif;
  }
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

img {
  max-width: 100%;
}

.tamañologo {
  height: 8rem;
}

.nav-item {
  background-color: whitesmoke;
}
.nav-item a:hover {
  background-color: aquamarine;
}

h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

h1 {
  display: inline-block;
  position: relative;
}

h1::after, h1::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 3px;
  background-color: #000;
  top: 0.6em;
}

h1::before {
  left: -140px;
}

h1::after {
  right: -140px;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

header {
  padding: 1.5rem;
  top: 0;
  z-index: 1;
}

#colorfondo {
  background-color: #74EBD5;
  background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
}

.tituloinicio {
  text-align: center;
}

.corazonestamaño {
  width: 3rem;
  height: 3rem;
}

.container {
  width: 100%;
  background-position: center center;
  background-size: contain;
}

#colorfondoproductos {
  background-color: #74EBD5;
  background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
}

.tamañologo {
  width: 5rem;
  height: 5rem;
}

.titulomisproductos {
  text-align: center;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}

.card {
  border: solid;
  padding: 2rem;
  width: 10rem;
  height: 10rem;
  margin: 1rem;
}

.card__parrafo {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 5rem;
}

.card__parrafo--precio {
  text-align: center;
}

.boton {
  align-content: center;
  border-radius: 1%;
}

.card__img {
  width: 15rem;
  height: 15rem;
  border: solid;
  border-color: #000000 20, 20, 19;
  max-width: 100%;
}

.descuentos {
  position: absolute;
  top: 0;
  left: 40rem;
  width: 50%;
  font-weight: bold;
}

.navbar-text {
  font-weight: bold;
}

.textonegrita {
  font-weight: bold;
}

.tamañoycolor {
  font-size: larger;
  text-align: justify;
  color: black;
  line-height: 1.4;
  font-weight: lighter;
}

#colorfondo {
  background-color: #74EBD5;
  background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
}

.img {
  width: 30rem;
  height: 20rem;
  max-width: 100%;
}

#colorfondoubicacion {
  background-color: #74EBD5;
  background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
}

.tituloubicacion {
  text-align: center;
}

.btn-wsp {
  bottom: 30px;
  right: 30px;
  background-color: #0df053;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.btn-wsp:hover {
  text-decoration: none;
  color: #0df053;
  background: #fff;
}

.descuentos {
  font-weight: bold;
  font-size: medium;
}

#colorfondocontacto {
  background-color: #74EBD5;
  background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
}

.contenedor-label {
  display: flex;
  gap: 30px;
}

.contenedor-label label {
  background-color: whitesmoke;
  color: #000000;
  font-weight: bold;
  padding: 5px 15px;
  cursor: pointer;
}

.contenedor-contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulocontacto {
  padding-inline-start: 500px;
}

.formularioestilos {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 500px;
}

.botonesdiseño {
  background-color: white;
  font-weight: bold;
  padding: 5px 15px;
}

.contenedor-botones a {
  display: none;
}

#sitio-web,
#whatsapp {
  display: none;
}

#sitio-web:checked ~ .contenedor-botones .botonesdiseñoweb {
  display: block;
}

#whatsapp:checked ~ .contenedor-botones .botonesdiseñowhatsapp {
  display: block;
}

/*# sourceMappingURL=styles.css.map */
