@media screen and (min-width:768px) {    
   .body {
    background-color: rgb(156, 233, 233);
    font-family: 'Roboto', sans-serif;
         }
}
    ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

img {
    max-width: 100%;
}

.tamañologo {
    height: 8rem;
}

.nav-item {
    background-color: whitesmoke;
    & a:hover {
        background-color: aquamarine;
    }
}

h1, h2, h3 {
    font-family:  'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

h1 {
    display: inline-block;
    position: relative;
}

h1::after, h1::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: #000;
    top: 0.6em;
}

h1::before {
left:-140px;
}

h1::after {
    right: -140px;
}


p {
font-family: 'Roboto', sans-serif;
font-weight: bold;
}


