#colorfondo {
    background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
}
.tituloinicio {
    text-align: center;
}
.corazonestamaño {
    width: 3rem;
    height: 3rem;
}
   
.container {
    width: 100%;
    background-position: center center;
    background-size: contain;
}
