.textonegrita {
    font-weight: bold;
}
.tamañoycolor {
    font-size: larger;
    text-align: justify;
    color: black; 
    line-height: 1.4;
    font-weight: lighter;
}

#colorfondo {
    background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
}
.img {
    width: 30rem;
    height: 20rem;
    max-width: 100%;
}


